a {
    cursor: pointer;
}

body {
    padding-top: 50px;
}

.adminPreview {
    height: auto;
    width: 100%;
}

.admin-description {
    width: 100%;
    max-width: 100%;
    min-height: 200px;
}

form#email input {
    width: 100%;
}

.from {
    font-size: x-large;
}