/* Base stuff */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Mixins*/
@font-face {
  font-family: "Socialico";
  src: url("../fonts//Socialico.eot?") format("eot"), url("../fonts//Socialico.woff") format("woff"), url("../fonts//Socialico.ttf") format("truetype"), url("../fonts//Socialico.svg#Socialico") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/clearsans-light-webfont.eot");
  src: url("../fonts/clearsans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans-light-webfont.woff2") format("woff2"), url("../fonts/clearsans-light-webfont.woff") format("woff"), url("../fonts/clearsans-light-webfont.ttf") format("truetype"), url("../fonts/clearsans-light-webfont.svg#clear_sans_lightregular") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/clearsans-regular-webfont.eot");
  src: url("../fonts/clearsans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans-regular-webfont.woff2") format("woff2"), url("../fonts/clearsans-regular-webfont.woff") format("woff"), url("../fonts/clearsans-regular-webfont.ttf") format("truetype"), url("../fonts/clearsans-regular-webfont.svg#clear_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/clearsans-bold-webfont.eot");
  src: url("../fonts/clearsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans-bold-webfont.woff2") format("woff2"), url("../fonts/clearsans-bold-webfont.woff") format("woff"), url("../fonts/clearsans-bold-webfont.ttf") format("truetype"), url("../fonts/clearsans-bold-webfont.svg#clear_sansbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Clear Sans';
  font-weight: normal;
}

::-webkit-input-placeholder {
  color: #616161;
}

::-moz-placeholder {
  color: #616161;
}

:-moz-placeholder {
  color: #616161;
}

:-ms-input-placeholder {
  color: #616161;
}

.container {
  max-width: 835px;
}

.btn {
  border-radius: 0;
  outline: none !important;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn:focus {
  box-shadow: none;
}
.btn-red {
  background: #f72222;
  color: #ffffff;
  font-size: 19px;
  font-style: italic;
}
.btn-red i {
  margin-left: 10px;
}
.btn-red:hover, .btn-red:focus {
  background: #de0808;
  color: #ffffff;
}
.btn-red:active {
  background: #c50707;
}

header {
  height: 185px;
  color: #f72222;
  background-image: url(../img/bg/main.jpg);
}
header .container {
  height: 100%;
  position: relative;
}
@media only screen and (max-width: 767px) {
  header {
    height: 140px;
  }
}

.header-inner {
  position: relative;
  height: 100%;
  background-image: url(../img/bg/header.jpg);
  background-repeat: no-repeat;
  background-position: -200px center;
}
.header-inner:before, .header-inner:after {
  content: '';
  height: 105%;
  position: absolute;
  top: 0;
  background: #ffffff;
}
.header-inner:before {
  width: 70px;
  right: -2px;
}
.header-inner:after {
  width: 9999px;
  left: 100%;
}
.header-links {
  padding-top: 5px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}
.header-links a {
  margin-left: 5px;
  display: inline-block;
}
.header-pattern {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 66px;
  margin-top: -65px;
  border-top: 250px solid transparent;
  border-bottom: 250px solid transparent;
  border-right: 250px solid #ffffff;
}
@media only screen and (max-width: 767px) {
  .header-pattern {
    margin-top: -15px;
    border-right-width: 200px;
    border-top-width: 200px;
    border-bottom-width: 200px;
  }
}
.header-sign {
  position: absolute;
  bottom: -50px;
  right: 0;
}
@media only screen and (max-width: 767px) {
  .header-sign {
    bottom: 0;
    right: -15px;
  }
  .header-sign img {
    width: 170px;
  }
}

.main-title {
  position: absolute;
  left: 0;
  bottom: -47px;
}
.main-title h1, .main-title h2 {
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
}
.main-title h1 {
  font-family: "HelveticaLight";
  color: #000000;
  letter-spacing: 5px;
}
.main-title h2 {
  font-family: "HelveticaBold";
  color: #ffffff;
  display: inline-block;
}
.main-title h2 span {
  margin-left: 25px;
  margin-top: -15px;
  float: right;
}
@media only screen and (max-width: 767px) {
  .main-title {
    width: 100%;
    bottom: auto;
    top: 100%;
    padding: 10px 15px 0;
    text-align: center;
  }
  .main-title h1, .main-title h2 {
    font-size: 30px;
  }
  .main-title h2 {
    color: #f72222;
  }
  .main-title h2 span {
    display: none;
  }
}

.gallery {
  margin-left: -2px;
  margin-right: -2px;
}
.gallery-content {
  padding-top: 110px;
}
@media only screen and (max-width: 767px) {
  .gallery-content {
    padding-top: 130px;
  }
}
.gallery-description {
  padding: 30px 0;
}
.gallery-description p {
  font-size: 15px;
  line-height: 1.2;
  color: #333;
}
.gallery-description p span {
  color: #f72222;
}
.gallery .col-xs-1, .gallery .col-sm-1, .gallery .col-md-1, .gallery .col-lg-1, .gallery .col-xs-2, .gallery .col-sm-2, .gallery .col-md-2, .gallery .col-lg-2, .gallery .col-xs-3, .gallery .col-sm-3, .gallery .col-md-3, .gallery .col-lg-3, .gallery .col-xs-4, .gallery .col-sm-4, .gallery .col-md-4, .gallery .col-lg-4, .gallery .col-xs-5, .gallery .col-sm-5, .gallery .col-md-5, .gallery .col-lg-5, .gallery .col-xs-6, .gallery .col-sm-6, .gallery .col-md-6, .gallery .col-lg-6, .gallery .col-xs-7, .gallery .col-sm-7, .gallery .col-md-7, .gallery .col-lg-7, .gallery .col-xs-8, .gallery .col-sm-8, .gallery .col-md-8, .gallery .col-lg-8, .gallery .col-xs-9, .gallery .col-sm-9, .gallery .col-md-9, .gallery .col-lg-9, .gallery .col-xs-10, .gallery .col-sm-10, .gallery .col-md-10, .gallery .col-lg-10, .gallery .col-xs-11, .gallery .col-sm-11, .gallery .col-md-11, .gallery .col-lg-11, .gallery .col-xs-12, .gallery .col-sm-12, .gallery .col-md-12, .gallery .col-lg-12 {
  padding-left: 2px;
  padding-right: 2px;
}
.gallery img {
  max-width: 100%;
}
@media only screen and (max-width: 767px) {
  .gallery {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .gallery .col-xs-6 {
    width: 100%;
  }
}

footer {
  background-image: url(../img/bg/footer.jpg);
  background-size: cover;
  padding: 35px 0;
  position: relative;
}
footer:after {
  content: '';
  height: 0;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10px;
  border-top: 1px dashed rgba(255, 255, 255, 0.5);
}
footer:before {
  content: '';
  height: 0;
  width: 0;
  position: relative;
  top: -21px;
  left: 50%;
  margin-left: -25px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 12px solid #ffffff;
}
footer h5 {
  font-size: 31px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}
footer .subtitle {
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-bottom: 25px;
}
footer .notif {
  border: 2px solid #ffffff;
  color: #ffffff;
  text-align: center;
  padding: 8px 5px;
}
footer .notif img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
footer .form-areas:after {
  content: "";
  display: table;
  clear: both;
}
footer .areas-holder {
  position: relative;
}
footer .areas-holder i {
  position: absolute;
  left: 15px;
  top: 24px;
}
footer .form-left {
  width: 310px;
  float: left;
}
footer .form-right {
  width: calc(100% - 320px);
  float: right;
}
footer .btn-holder {
  margin-top: 10px;
}
footer .btn-holder .btn-red {
  width: 100%;
}
footer .notif {
  margin-top: 10px;
}
footer form input, footer form textarea {
  padding-left: 42px;
  padding-right: 15px;
  width: 100%;
  background: #ffffff;
  outline: none;
  border: 2px solid transparent;
  margin-top: 10px;
  line-height: 1.4;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
footer form input:hover, footer form textarea:hover {
  border-color: #f95353;
}
footer form input:focus, footer form textarea:focus {
  border-color: #f72222;
}
footer form input {
  height: 42px;
}
footer form textarea {
  height: 146px;
  resize: none;
  padding-top: 8px;
}
@media only screen and (max-width: 767px) {
  footer .form-left, footer .form-right {
    float: none;
    width: 100%;
  }
}
